config.env
__pycache__/*
fearubot.db
fearubot.session
fearubot.session-journal
fearubot/__pycache__/*
fearubot/modules/__pycache__/*
fearubot/modules/sql_helper/__pycache__/*
.progress
.vscode/*
bin/*